.caixa_pai{
    width: 100%;
    height: 4vw;
    background-color: #00bf63;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
        .caixa_img{
        }
        .img_logo{
            width: 3%;
        }
        .img_usuario{
            width: 3%;
            background-color: aliceblue;
            margin-left: 0%;
        }
        .form_pai{
            display: inline-block;
        }
        .caixa_lista{
            display: inline-block;
            .lista_ul{
                .lista_li{
                    display: inline-block;
                    text-align: center;
                    .icones{
                        width: 25%;
                    }
                }
            }
        }
}