*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
@import '../telas_css/componentes/cabecalho';
@import '../telas_css/login';
@import '../telas_css/registro';
@import '../telas_css/tela_principal';

